<div class="container">
  <div class="row">
    <mat-form-field style="width: 100%">
      <input matInput placeholder="Car Brend">
    </mat-form-field>
  </div>

  <div class="row">
    <mat-form-field style="width: 100%">
      <input matInput placeholder="Car Model">
    </mat-form-field>
  </div>

  <div class="row">
    <div class="col-md-6 mb-2">
      <button mat-raised-button color="primary" style="width: 100%">
        Add Car
      </button>
    </div>
    <div class="col-md-6">
      <button mat-raised-button color="accent" style="width: 100%">
        Load Cars
      </button>
    </div>
  </div>
</div>
